<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->
    <app-alert
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          email
          required
          #email="ngModel"
        />
        <span class="help-block" *ngIf="email.invalid && email.touched"
          >Please enter a valid email!</span
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          #password="ngModel"
        />
        <span class="help-block" *ngIf="password.invalid && password.touched"
          >Please enter a password has 6 or more characters!</span
        >
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
          {{ isSignUpMode ? "Sign Up" : "Login" }}
        </button>
        |
        <a (click)="onSwitchMode()" style="cursor: pointer;">{{
          isSignUpMode
            ? "Already have an account? Click here to login"
            : "Click here to sign up"
        }}</a>
      </div>
    </form>
  </div>
</div>
