<div class="row">
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="col-xs-10" *ngIf="!isLoading">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onLoadElement(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
